.fondo-gradiente {
  background-image: linear-gradient(to bottom, #f4fa3e, #ffffff, #f4fa3e);
  box-shadow: 0 0 20px 10px rgba(16, 29, 34, 0.5);
  box-shadow: inset 0 0 10px 7px rgba(199, 53, 53, 0.2);
  /*Estilo boton de link*/
}

.container p {
  font-family: "Arial", sans-serif; /* Fuente de letra */
  font-size: 14px;
  line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
  color: #555; /* Color del texto */
  margin-top: 15px; /* Espacio superior para separarlo del botón */
  padding: 10px;
  border-left: 3px solid #007bff; /* Barra lateral para destacar */
  background-color: #f9f9f9; /* Color de fondo suave */
  border-radius: 3px;
}

.fondo-gradiente1 {
  background-image: linear-gradient(to bottom, #899af7, #ffffff, #899af7);
  box-shadow: 0 0 20px 10px rgba(16, 29, 34, 0.5);
}

.fondo-gradiente2 {
  background-image: linear-gradient(to bottom, #f57e7e, #ffffff, #f57e7e);
  box-shadow: 0 0 20px 10px rgba(16, 29, 34, 0.5);
}
